<div class="w-full max-w-3xl flex flex-col">
    <!-- Add team member -->
    <div class="w-full flex-none">
        <mat-form-field class="fuse-mat-no-subscript w-full" [floatLabel]="'always'">
            <mat-label>Add team members</mat-label>
            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user'" matPrefix></mat-icon>
            <input matInput [placeholder]="'Email address'">
            <button mat-icon-button matSuffix>
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
            </button>
        </mat-form-field>
    </div>
    <!-- Team members -->
    <div class="flex-auto overflow-scroll max-h-100 m-1">
        <div class="flex flex-col mt-8 divide-y border-t border-b">
            <ng-container *ngTemplateOutlet="childcomp;
                            context: {$implicit: model.data }
                            ">
            </ng-container>
        </div>
    </div>    
    <mat-paginator
    class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
     [ngClass]="{'pointer-events-none': isLoading}" [length]="model.pagination.length"
        [pageIndex]="model.pagination.page" [pageSize]="model.pagination.size" [pageSizeOptions]="[5, 10, 25, 100]"
        [showFirstLastButtons]="true"></mat-paginator>
</div>
