.inventory-grid {
    grid-template-columns: 48px auto 40px;

    @screen sm {
        //grid-template-columns: 48px auto 112px 72px;
        grid-template-columns: 48px auto 48px;
    }

    @screen md {
        //grid-template-columns: 48px 112px auto 112px 72px;
        grid-template-columns: 48px auto 48px;
    }

    @screen lg {
        //grid-template-columns: 48px 112px auto 112px 96px 96px 72px;
        grid-template-columns: 48px repeat(5, minmax(0, 1fr)) 48px;
    }
}